BODY {background: #ffffff;color: #000000;margin-top: 120pt; margin-left: 150pt;margin-right: 100pt}
H3 {font: 14pt verdana; color: #0000ff}
P {font: 12pt times;background-color: #2980b9; text-indent: 0.5in}
A {color: #ff0000}
